h1 {
	color: blue;
}

h2 {
	color: rgb(71, 8, 71);
}

section {
	background: rgb(200, 224, 152);
}



body {
	background-color: rgb(145, 165, 130);
}

.czerwony {
	color: red;
}

#git {
	background-color: yellow;
}


section a {
	color: blueviolet;
}

p {
	color: pink;
}

.my_article {
	color: chocolate;
}

.my_article p {
	background-color: aqua;
	color: black;
}

#life {
	color: blueviolet;
}

.header_name {
	background-color: aquamarine;
}

.header_name a {
	color: rgb(232, 39, 39);
	background-color: cadetblue;
}