h1 {
	color: blue;
}

h2 {
	color: rgb(71, 8, 71);
}

section {
	background: rgb(200, 224, 152);
}

h3 {
	color: rgb(49, 95, 3);
}

body {
	background-color: rgb(145, 165, 130);
}

.czerwony {
	color: red;
}

#git {
	background-color: yellow;
}

h3 {
	color: blue;
}

a {
	color: green;
}

section a {
	color: blueviolet;
}

p {
	color: pink;
}

.my_article p {
	background-color: aqua;
	color: navy;
}