h1 {
	color: blue;
}

h2 {
	color: rgb(71, 8, 71);
}

section {
	background: rgb(200, 224, 152);
}


body {
	background-color: rgb(236, 184, 230);
}

.czerwony {
	color: red;
}

#znacznik {
	background: yellow;
}

a {
	color: green;
}

section a {
	color: orange;
}

p {
	background-color: bisque;
}

.fiolet p {
	background: purple;
	color: azure;
}